/*https://codepen.io/olucianonet/pen/NWGreJy?editors=1100*/

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(250, 225, 192);
}

.highlights-main{
  position: static;
  width: auto;
}

.highlights-main img{
  position: absolute;
  width: 100%;
  background-size: cover;
  align-items: normal;
  align-self: normal;
  block-size: auto;
  box-sizing: content-box;
  clip: auto;
  display: block;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: normal;
  resize: none;
  z-index: 0;
}

.main-menu-components{
  align-items: center;
  display: flex;
  background-color: transparent;
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.9) 10%,transparent);
  height: 70px;
  width: 100%;
  position: relative;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 1;
}

.logo-icon{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  top: 10px;
  left: 20px;
  position: absolute;
  vertical-align: middle;
}

.main-components{
  position: absolute;
  top: 25px;
  left: 350px;
}

.main-components li{
  display: inline-flex;
}

.main-components li a{
  list-style: none;
  color: #fff;
  text-decoration: none;
  padding-left: 30px;

}

.main-components li a:hover{
  background: rgb(246, 246, 246);
  color: #333;
}

.search-information{
  background-color: blue;
  width: 100px;
  height: 30px;
  top: 15px;
  left: 700px;
  position: absolute;
  display: flex;
}

.perfil-icon{
  background-color: green;
  width: 100px;
  height: 30px;
  top: 15px;
  left: 800px;
  position: absolute;
  display: flex;
}


